# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/android/capacitor-cordova-android-plugins/src/main/java/.gitkeep
/android/capacitor-cordova-android-plugins/src/main/res/.gitkeep
/android/capacitor-cordova-android-plugins/src/main/AndroidManifest.xml
/android/capacitor-cordova-android-plugins/build.gradle
/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/android/.gradle/buildOutputCleanup/cache.properties
/android/app/src/main/assets/capacitor.config.json
/android/app/src/main/assets/capacitor.plugins.json
/android/.gradle/8.14.3/checksums/checksums.lock
/android/.gradle/config.properties
/android/app/src/main/res/xml/config.xml
/android/app/src/main/assets/public/cordova.js
/android/capacitor-cordova-android-plugins/cordova.variables.gradle
/android/app/src/main/assets/public/cordova_plugins.js
/android/.gradle/8.14.3/executionHistory/executionHistory.bin
/android/.gradle/8.14.3/executionHistory/executionHistory.lock
/android/.gradle/file-system.probe
/android/.gradle/8.14.3/fileHashes/fileHashes.bin
/android/.gradle/8.14.3/fileHashes/fileHashes.lock
/android/.gradle/8.14.3/gc.properties
/android/.gradle/vcs-1/gc.properties
/android/app/src/main/assets/public/index.html
/android/app/src/main/assets/public/assets/index-CGsyrHzV.js
/android/app/src/main/assets/public/assets/index-DBRf10-a.css
/android/.gradle/8.14.3/fileChanges/last-build.bin
/android/local.properties
/android/.gradle/8.14.3/checksums/md5-checksums.bin
/android/.gradle/buildOutputCleanup/outputFiles.bin
/android/.gradle/8.14.3/fileHashes/resourceHashesCache.bin
/android/.gradle/8.14.3/checksums/sha1-checksums.bin
/android/app/src/main/assets/public/vite.svg
